
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>




    <div class="adminUsers__page pt-5 pb-5" id="adminUsers">
        <div class="container">
            <div class="row">
                <transition name="slide-fade">
                    <!-- LIST WITH USERS CARDS -->
                    <div class="col-sm-12 col-lg-4 users-cards-list pb-2" v-if="usersCards.length !== 0">
                        <input type="text" class="form-control mb-3 " placeholder="Поиск"
                            aria-describedby="button-addon2" v-model="searchValue">
                        <button class="btn btn-primary mb-2"
                            v-on:click="createUser() ; usersCardId = user.Id; formUrl = 'http://192.168.71.142/Admin/CreateUser'">Создать
                            пользователя</button>
                        <div class="list-group">
                            <div class="list-group-item" v-for="user in filteredUsersCards"
                                v-on:click="usersCardId = user.Id; getUser(); formUrl = 'http://192.168.71.142/Admin/EditUser'"
                                :class="{ active: usersCardId == user.Id }">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ user.FIO }}</h5>
                                    <small>{{ user.Birthdate }}</small>
                                </div>
                                <small>{{ user.Position }}</small>
                               
                                <small  v-if="user.Blocked == true" class=" badge bg-danger">Заблокирован</small>
                            </div>
                        </div>
                    </div>
                </transition>
                <!-- USERS CARDS DETAILS -->
                <div class="col-sm-12 col-lg-8 users-cards-details">
                    <h4 v-if="user.Id == undefined">Выберите пользователя</h4>
                    <div class="users-cards-change-details">
                        <transition name="slide-fade">
                            <div class="card-wrapper" v-if="usersCardId !== null">
                                <form method="post" v-on:submit="postUser($event)">
                                    <div class="user-card">
                                        <div class="list-group justify-content-center align-items-center">
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Фамилия </p>
                                                    <input type="text" class="form-control" :value="user.LastName"
                                                        v-on:change="user.LastName = $event.target.value"
                                                        name="LastName">
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12 d-none">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">User Id </p>
                                                    <input type="text" name="Id" class="form-control" :value="user.Id">
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12 d-none">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Enable</p>
                                                    <input type="text" name="Enable" value='true' class="form-control">
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Имя </p>
                                                    <input type="text" class="form-control" :value="user.FirstName"
                                                        v-on:change="user.FirstName = $event.target.value"
                                                        name="FirstName" aria-label="FirstName">
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Отчество </p>
                                                    <input type="text" class="form-control" :value="user.Patronymic"
                                                        v-on:change="user.Patronymic = $event.target.value"
                                                        name="Patronymic">
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Должность </p>
                                                    <input type="text" class="form-control" :value="user.Position"
                                                        v-on:change="user.Position = $event.target.value"
                                                        name="Patronymic">
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Дата рождения</p>
                                                    <input class="form-control" type="date" :formatter="format"
                                                        v-on:change="user.Birthdate = $event.target.value"
                                                        :value="user.Birthdate" name="Birthdate">
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Номер телефона</p>
                                                    <input type="text" class="form-control" :value="user.NumberPhone"
                                                        v-on:change="user.NumberPhone = $event.target.value"
                                                        name="NumberPhone">
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Серия паспорта</p>
                                                    <input type="text" class="form-control" :value="user.SeriesPassport"
                                                        v-on:change="user.SeriesPassport = $event.target.value"
                                                        name="SeriesPasport">
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Номер паспорта</p>
                                                    <input type="text" class="form-control" :value="user.NumberPassport"
                                                        v-on:change="user.NumberPassport = $event.target.value"
                                                        name="NumberPasport">
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Заблокирован</p>
                                                    <input type="checkbox" class="form-check-input" name="Blocked"
                                                        v-on:click="user.Blocked = !user.Blocked" value="true"
                                                        v-bind="{ checked: user.Blocked == true }">
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Логин</p>
                                                    <input type="text" class="form-control" :value="user.Login"
                                                        v-on:change="user.Login = $event.target.value" name="Login">
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Пароль</p>
                                                    <input type="password" class="form-control" :value="user.Password"
                                                        v-on:change="user.Password = $event.target.value"
                                                        name="Password">
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Офис</p>
                                                    <select class="form-select" name="RelisePlaceId"
                                                        v-on:click="user.RelisePlaceId = $event.target.value">
                                                        <option :value="select.Id"
                                                            v-bind="{ selected: user.RelisePlaceId == select.Id }"
                                                            v-for="select in offices">{{ select.Name }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Группы</p>
                                                    <div class="form-check-wrapper">
                                                        <div class="form-check" v-for="radio in groups">
                                                            <input class="form-check-input" type="radio" name="GroupId"
                                                                :value="radio.Id"
                                                                v-on:change="user.GroupId = $event.target.value"
                                                                v-bind="{ checked: user.GroupId == radio.Id }"
                                                                :id='user.NameGroup'>
                                                            <label class="form-check-label" for="flexRadioDefault1">
                                                                {{ radio.Description }}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Права</p>
                                                    <div class="rights-checkbox-wrapper">
                                                        <div class="form-check" v-for="right in user.UserRights">
                                                            <input class="form-check-input" type="checkbox"
                                                                :name="right.Name" :id="right.KeyWord"
                                                                v-on:change="right.Member = !right.Member"
                                                                v-bind="{ checked: right.Member == true }">
                                                            <label class="form-check-label">
                                                                {{ right.Description }}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           <div>
                                             <button class="btn btn-success admin-submit-button" v-if="user.Id > 0"
                                                type="submit">Сохранить</button>
                                                <button title="Удалить документ" v-if="user.Id > 0"
                                                data-bs-toggle="modal" data-bs-target="#deleteUserConfirmModal" type="button"
                                                class="btn btn-danger admin-submit-button"><i class="bi bi-trash3">
                                                    Удалить</i></button>
                                            <button class="btn btn-success admin-submit-button" v-if="user.Id == 0"
                                                v-on:click="formUrl = 'http://192.168.71.142/Admin/CreateUser'"
                                                type="submit">Создать</button>
                                           </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </transition>
                    </div>




                    <!--      <div class="users-cards-add-details">
                        <transition name="slide-fade">
                            <div class="card-wrapper" v-if="usersCardId !== null">
                                <form action="http://192.168.71.142/Admin/CreateUser" method="post">
                                    <div class="user-card">
                                        <div class="list-group justify-content-center align-items-center">
                                            <div class="list-group-item col-12 d-none">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">User Id </p>
                                                    <input type="text" name="Id" class="form-control"
                                                        >
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12 d-none">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Enable</p>
                                                    <input type="text" name="Enable" value='true' class="form-control"
                                                       >
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Имя </p>
                                                    <input type="text" name="FirstName" class="form-control"
                                                       >
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Фамилия </p>
                                                    <input type="text" class="form-control" name="LastName"
                                                        >
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Отчество </p>
                                                    <input type="text" class="form-control" name="Patronymic"
                                                        >
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Дата рождения</p>
                                                    <input type="date" class="form-control" name="Birthdate"
                                                        >
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Номер телефона</p>
                                                    <input type="text" class="form-control" name="NumberPhone"
                                                        >
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Серия паспорта</p>
                                                    <input type="text" class="form-control" name="SeriesPasport"
                                                        >
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Номер паспорта</p>
                                                    <input type="text" class="form-control" name="NumberPasport"
                                                       >
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Блокирован</p>
                                                    <input type="checkbox" class="form-check-input" 
                                                        name="Blocked">
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Логин</p>
                                                    <input type="text" class="form-control" name="Login"
                                                       >
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Пароль</p>
                                                    <input type="text" class="form-control" name="Password"
                                                       >
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Офис</p>
                                                    <select class="form-select" aria-label="Default select example"
                                                        name="Office">
                                                        <option v-for="select in offices">{{ select.Name }}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Группы</p>
                                                    <div class="form-check-wrapper">
                                                        <div class="form-check" v-for="radio in groups">
                                                            <input class="form-check-input" type="radio" name="GroupId" :value="radio.Id"
                                                                id="flexRadioDefault1">
                                                            <label class="form-check-label" for="flexRadioDefault1">
                                                                {{ radio.Description }}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-group-item col-12">
                                                <div class="d-flex align-items-center">
                                                    <p class="m-0 p-2 col-5">Права</p>
                                                    <div class="rights-checkbox-wrapper">
                                                        <div class="form-check" v-for="right in rights">
                                                            <input class="form-check-input" type="checkbox"
                                                                :name="'right_' +right.KeyWord" :id="right.KeyWord" >
                                                            <label class="form-check-label" :for="right.KeyWord">
                                                                {{ right.Description }}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-success admin-submit-button"
                                                type="submit">Создать</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </transition>
                    </div> -->






                </div>
            </div>
        </div>
         <!-- delete document confirm Modal -->
         <div class="modal fade" id="deleteUserConfirmModal" tabindex="-1"
         aria-labelledby="deleteUserConfirmModalLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="deleteUserConfirmModalLabel">Удаление пользователя</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                 </div>
                 <div class="modal-body d-flex justify-content-around">
                     <h4 class="text-center">Вы действительно хотите удалить пользователя?</h4>
                 </div>
                 <div class="modal-footer">
                     <button class="btn btn-danger col-3" v-on:click="deleteUser()"
                         data-bs-dismiss="modal">Да</button>
                     <button type="button" class="btn btn-primary col-3" data-bs-dismiss="modal">Закрыть</button>
                 </div>
             </div>
         </div>
     </div>
    </div>












    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"
        integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src=https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>

    <script>
        var app4 = new Vue({
    el: '#adminUsers',
    data(){
        return{
            searchValue: '',
            usersCards: [],
            usersCardId: null,
            user: {},
            groups: [],
            offices: [],
            formUrl: '',
        }
    },
    methods: {
      
        format(value, event) {
            return moment(value).format('DD-MM-YYYY')
        },
        deleteUser(){
            axios.post('http://192.168.71.142/Admin/DeleteUser/'+this.user.Id).then((res)=>{
                this.getUsersCards()
                this.user={}
                this.usersCardId=null
            })
        },
        postUser($event){
            $event.preventDefault();
          
           axios({
            method: 'post',
            url: this.formUrl,
            data: this.user
           }).then((res)=>{
            console.log(res);
            if(res.data.success==true){
                console.log(res);
                alert(res.data.data.message)
                this.usersCardId=null
                this.getUsersCards();
            }
            else{
                alert(res.data.message)
            this.getUsersCards();

            }
           })

        },
        createUser(){
            axios.post('http://192.168.71.142/Admin/GetUser/0').then((res)=>{
                console.log(res);
                this.user=res.data.data.User
               
            })
        },
        getUser(){
            axios.post('http://192.168.71.142/Admin/GetUser/?Id='+this.usersCardId).then((res)=>{
                this.user=res.data.data.User
            })
        },
        getUsersCards(){
            axios.post('http://192.168.71.142/Admin/GetUsersCards').then((res)=>{
                console.log(res);
                this.usersCards=res.data.data.UsersCards;
                this.groups=res.data.data.Groups
                this.rights=res.data.data.Rights
                this.offices=res.data.data.Offices
            }) 
        },
    },
    mounted(){
        this.getUsersCards()
    },
    computed:{
        filteredUsersCards() {
                if (this.searchValue) {
                    return this.usersCards.filter(item => {
                        return item.FIO.toLowerCase().includes(this.searchValue.toLowerCase());
                    });
                }
                return this.usersCards
            }
    },
    
})
    </script>

    <style>
        .slide-fade-enter-active {
            transition: all .3s ease;
        }

        .slide-fade-leave-active {
            transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }

        .list-group-item {
            cursor: pointer;
        }

        .card-wrapper {
            border: 1px solid rgb(226, 226, 226);
            border-radius: 10px;
            padding: 15px;
        }

        .admin-submit-button {
            margin-top: 10px;
        }

        .slide-fade-enter,
        .slide-fade-leave-to

        /* .slide-fade-leave-active below version 2.1.8 */
            {
            transform: translateX(10px);
            opacity: 0;
        }

        * {
            font-family: 'Cuprum', sans-serif !important;
        }
    </style>
