
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <div class="arhcive__page pt-5 " id="archive">
        <div class="container">
            <div class="row">
                <div class="people__list col-sm-12 col-lg-4">
                    <div class="input-group mb-3">
                        <input v-on:keyup.enter="getClients(); loading = true; match = true; clientId = ''; documents = []"
                            v-model="clientName" type="text" class="form-control" placeholder=""
                            aria-label="Recipient's clientname" aria-describedby="button-addon2">
                        <button v-on:click="loading = true ; getClients(); match = true; clientId = ''; documents = []"
                            class="btn btn-primary" type="button" id="button-addon2">Поиск</button>
                    </div>
                    <h2 class="text-center" v-if="loading == false && clients.length == 0 && match == true">Нет совпадений
                    </h2>
                    <div class="row">
                        <div v-if="loading == true" class="spinner-border" role="status">
                            <span class="visually-hidden">Загрузка</span>
                        </div>
                    </div>
                    <div v-if="loading == false" class="list-group d-flex justify-content-center align-items-center">

                        <a class="list-group-item list-group-item-action" v-for="client in clients" :key="client.Id"
                            v-bind:class="{ active: client.Id == clientId }" v-bind:Id="client.Id"
                            v-on:click="getDocuments(client.Id); clientId = client.Id">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ client.FullName }}</h5>
                                <small>{{ client.Birthdate }}</small>
                            </div>
                            <p class="mb-1">Серия и номер паспорта: {{ client.SeriesPassport }} {{ client.NumberPassport }}
                            </p>
                            <small>Количество документов: {{ client.CountDocument }}</small>
                        </a>
                    </div>
                </div>
                <div v-if="clients.length > 0" class="people__info col-sm-12 col-lg-8 pt-5">
                    <div class="accordion accordion-flush" id="accordionFlush">
                        <div class="accordion-item" v-for="document in documents" :key="document.Id">
                            <h2 class="accordion-header" :id="'flush-headingOne' + document.Id">
                                <button class="accordion-button collapsed" v-bind:class="{ unactive: !document.Uploaded }"
                                    type="button" data-bs-toggle="collapse"
                                    :data-bs-target="'#flush-collapseOne' + document.Id" aria-expanded="false"
                                    :aria-controls="'flush-collapseOne' + document.Id"
                                    v-bind="{ disabled: !document.Uploaded }">
                                    {{ document.Title }}
                                </button>
                            </h2>
                            <div :id="'flush-collapseOne' + document.Id" class="accordion-collapse collapse"
                                :aria-labelledby="'flush-headingOne' + document.Id" data-bs-parent="#accordionFlush">
                                <div class="accordion-body">
                                    <div class="list-group" v-for="file in document.Files">
                                        <div class="list-group-item mb-1 d-flex justify-content-between">
                                            <a :href="'http://192.168.71.142/Document/FileDownload/' + file.Id"
                                                class="cut-text" :title="file.Name" target="_blank"> {{ file.Name }}
                                            </a>
                                            <div class="file__buttons opacity-0">
                                                <button title="Заменить файл в документе"
                                                    v-on:click="Id = file.Id; $refs.changeFile.value = null; fileUpload = false"
                                                    data-bs-toggle="modal" data-bs-target="#changeModal"
                                                    class="btn btn-info text-white"><i
                                                        class="bi bi-arrow-left-right"></i>
                                                </button>
                                                <button title="Удалить файл в документе"
                                                    v-on:click="deleteFileId = file.Id" data-bs-toggle="modal"
                                                    data-bs-target="#deleteFileConfirmModal" class="btn btn-danger "><i
                                                        class="bi bi-trash3"></i>
                                                </button>
                                                <button title="История изменениий файла"
                                                    v-on:click="fileHistory(file.Id)" class="btn  btn-success"
                                                    data-bs-toggle="modal" data-bs-target="#versionModal"><i
                                                        class="bi bi-card-checklist"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button title="Загрузиить файл в документ" :id="document.Id"
                                    class="btn btn-primary mb-1" v-if="documents.length > 0" data-bs-toggle="modal"
                                    data-bs-target="#loadingModal"
                                    v-on:click="Id = document.Id; $refs.downloadFile.value = null; fileUpload = false"><i
                                        class="bi bi-upload"> Загрузка</i>
                                </button>
                                <button title="История изменений документа" :id="document.Id"
                                    class="btn btn-success mb-1" v-if="documents.length > 0" data-bs-toggle="modal"
                                    data-bs-target="#documentVersionModal" v-on:click="documentHistory(document.Id)"><i
                                        class="bi bi-card-checklist"> Версии</i>

                                </button>
                                <button title="Удалить документ" v-on:click="deleteDocumentId = document.Id"
                                    data-bs-toggle="modal" data-bs-target="#deleteDocumentConfirmModal"
                                    class="btn btn-danger mb-1"><i class="bi bi-trash3"> Удалить</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- uploading Modal -->
        <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loadingModalLabel">Загрузить документы</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input class="form-control mb-3" type="file" v-on:change="downloadFile" ref="downloadFile">

                    </div>
                    <div class="modal-footer">
                        <button data-bs-dismiss="modal" class="btn btn-primary" v-bind:class="{ disabled: !fileUpload }"
                            v-on:click="submitFile()">Загрузить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete document confirm Modal -->
        <div class="modal fade" id="deleteDocumentConfirmModal" tabindex="-1"
            aria-labelledby="deleteDocumentConfirmModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteDocumentConfirmModalLabel">Удаление документа</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-around">
                        <h4 class="text-center">Вы действительно хотите удалить документ?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger col-3" v-on:click="deleteDocument(deleteDocumentId)"
                            data-bs-dismiss="modal">Да</button>
                        <button type="button" class="btn btn-primary col-3" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete file confirm Modal -->
        <div class="modal fade" id="deleteFileConfirmModal" tabindex="-1" aria-labelledby="deleteFileConfirmModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteFileConfirmModalLabel">Удаление файла</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-around">
                        <h4 class="text-center">Вы действительно хотите удалить файл?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-danger btn col-3" v-on:click="deleteFile(deleteFileId)"
                            data-bs-dismiss="modal">Да</button>
                        <button type="button" class="btn btn-primary col-3" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- File Version Modal -->
        <div class="modal fade" id="versionModal" tabindex="-1" aria-labelledby="versionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="versionModalLabel">История изменений</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <h1 class="text-center" v-if="this.fileHistoryArray.length == 0"> Изменений нет</h1>
                    <div class="modal-body" v-for="history in fileHistoryArray">
                        <div>Изменен: {{ history.Created }}</div>
                        <div>Кем: {{ history.UserName }}</div>
                        <div>Комментарий: {{ history.Comment }}</div>
                        <a
                            :href="'http://192.168.71.142/Document/FileDownloadFromHistory/' + history.Id">{{ history.Name }}</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Document Version Modal -->
        <div class="modal fade" id="documentVersionModal" tabindex="-1" aria-labelledby="documentVersionModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="documentVersionModalLabel">История изменений документа</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <h1 class="text-center" v-if="this.documentHistoryArray.length == 0"> Изменений нет</h1>
                    <div class="modal-body" v-for="docHistory in documentHistoryArray">
                        <div>Изменен: {{ docHistory.Created }}</div>
                        <div>Кем: {{ docHistory.UserName }}</div>
                        <div>Комментарий: {{ docHistory.Comment }}</div>
                        <a
                            :href="'http://192.168.71.142/Document/FileDownloadFromHistory/' + docHistory.Id">{{ docHistory.Name }}</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Change File Modal -->
        <div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeModalLabel">Заменить документ</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form v-on:submit.prevent="changeFile(Id)" enctype="multipart/form-data" method="post">
                            <input class="form-control mb-3" type="file" v-on:change="changeUploadFile"
                                ref="changeFile">
                            <input type="text" class="form-control mb-3" :v-model="changeValue"
                                v-on:change="setChangeValue($event)">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button v-bind:class="{ disabled: !fileUpload }" data-bs-dismiss="modal" class="btn btn-primary"
                            v-on:click="fileUpload = false; changeFile()">Загрузить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    var app2 = new Vue({
        el: '#archive',
        data() {
            return {
                clientName: 'Гаврик',
                clients: [],
                documents: [],
                loading: false,
                Id: '',
                deleteDocumentId: '',
                changeValue: '',
                fileHistoryArray: [],
                documentHistoryArray: [],
                deleteFileId: '',
                clientId: '',
                fileUpload: false,
                match: false,
            }
        },
        methods: {
            documentHistory(Id) {
                axios.post('http://192.168.71.142/Document/CheckArchHistory/' + Id).then((response) => {
    
                    if (response.data.success == false) {
                        alert(response.data.message)
                    }
                    else {
                        this.documentHistoryArray = response.data.data.HistoryDoc;
                    }
                })
            },
            deleteDocument(Id) {
                axios.post('http://192.168.71.142/Document/DeleteDocument/' + Id).then((response) => {
    
                    if (response.data.success == false) {
                        alert(response.data.message)
                    }
                    else {
                        this.getDocuments(this.clientId)
                    }
                })
            },
            fileHistory(Id) {
                axios.post('http://192.168.71.142/Document/CheckArchHistoryFile/' + Id).then((response) => {
    
                    if (response.data.success == false) {
                        alert(response.data.message)
                    }
                    else this.fileHistoryArray = response.data.data.HistoryFile
                })
            },
            setChangeValue(event) {
                this.changeValue = event.target.value
                event.target.value = ''
            },
    
            downloadFile() {
                this.fileUpload = true;
                this.downloadFiles = this.$refs.downloadFile.files[0];
            },
            changeUploadFile() {
                this.fileUpload = true;
                this.changedFiles = this.$refs.changeFile.files[0];
            },
            deleteFile(Id) {
                axios.post('http://192.168.71.142/Document/DeleteFile/' + Id).then((response) => {
                    if (response.data.success == false) {
                        alert(response.data.message)
                    }
                    else this.getDocuments(this.clientId)
                })
            },
            submitFile() {
                const formData = new FormData();
                formData.append('File', this.downloadFiles);
                const headers = { 'Content-Type': 'multipart/form-data' };
                axios.post('http://192.168.71.142/Document/UploadFile?documentId=' + this.Id, formData, { headers }).then((response) => {
    
                    if (response.data.success == false) {
                        alert(response.data.message)
                    }
                    else {
                        response.data.files;
                        response.status;
                        this.$refs.downloadFile.value = null
                        this.fileUpload = false;
                        this.getDocuments(this.clientId)
                    }
                })
            },
            changeFile(Id, changeValue) {
                const formData = new FormData();
                formData.append('newFile', this.changedFiles);
                formData.append('comment', this.changeValue)
                const headers = { 'Content-Type': 'multipart/form-data' };
                axios.post('http://192.168.71.142/Document/ReplaceFile/' + this.Id, formData, { headers }).then((response) => {
                    if (response.data.success == false) {
                        alert(response.data.message)
                    }
                    else {
                        response.data.files;
                        response.status;
                        this.$refs.changeFile.value = null
                        this.changeValue = null
                        this.fileUpload = false;
                        this.getDocuments(this.clientId)
                    }
                })
            },
            async getClients() {
                var thiz = this;
                axios.post('http://192.168.71.142/Home/ClientSearch?clientSearch=' + this.clientName)
                    .then(function (response) {
                        if (response.data.success == false) {
                            alert(response.data.message)
                            thiz.loading = false
                        }
                        else {
                            console.log(response);
                            thiz.clients = response.data.data.clients
                            thiz.loading = false
                        }
                    })
            },
            async getDocuments(Id) {
                var thiz = this;
                axios.post('http://192.168.71.142/Document/DocumentsClient/' + Id)
                    .then(function (response) {
                        console.log(response);
                        if (response.data.success == false) {
                            alert(response.data.message)
                        }
                        else {
                            thiz.documents = response.data.data.Documents
                            thiz.loading = false
                        }
                    })
            },
        }
    })
    </script>
    <style>
        .list-group-item {
            cursor: pointer;
        }

        * {
            font-family: 'Cuprum', sans-serif !important;
        }

        .spinner-border {
            margin: auto;
        }

        @media (max-width: 800px) {
            .cut-text {
                text-overflow: ellipsis;
                overflow: hidden;
                width: 140px;
                white-space: nowrap;
            }

        }

        .accordion-button.unactive {
            color: rgb(216, 216, 216);
        }

        .list-group-item:hover .file__buttons {
            transition: opacity 0.5s ease;
            opacity: 1 !important;
        }

        .active {
            transition: all 0.5s ease;
        }
    </style>

    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"
        integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src=https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous">
    </script>
