
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div class="arhcive__page pt-5 pb-5 " id="archive">
        <div class="container">
            <div class="row">

                <div class="people__list col-sm-12 col-lg-4">
                    <!-- List with search Clients -->
                    <div class="input-group mb-3 ">
                        <input
                            v-on:keyup.enter="getClients(); loading = true; match = true; clientId = ''; documents = []"
                            v-model="clientName" type="text" class="form-control  shadow"
                            placeholder="ФИО клиента или № договора" aria-label="Recipient's clientname"
                            aria-describedby="button-addon2">
                        <button v-on:click="loading = true ; getClients(); match = true; clientId = ''; documents = []"
                            class="btn btn-primary  shadow" type="button" id="button-addon2">Поиск</button>
                    </div>
                    <h2 class="text-center" v-if="loading == false && clients.length == 0 && match == true">Нет
                        совпадений
                    </h2>
                    <div class="row">
                        <div v-if="loading == true" class="spinner-border" role="status">
                            <span class="visually-hidden">Загрузка</span>
                        </div>
                    </div>
                    <transition name="slide-fade">
                        <div v-if="loading == false"
                            class="list-group d-flex justify-content-center align-items-center shadow">
                            <a class="list-group-item list-group-item-action" v-for="client in clients" :key="client.Id"
                                v-bind:class="{ active: client.Id == clientId }" v-bind:Id="client.Id"
                                v-on:click="getDocuments(client.Id); clientId = client.Id; ">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ client.FullName }}</h5>
                                    <small>{{ client.Birthdate }}</small>
                                </div>
                                <p class="mb-1">Серия и номер паспорта: {{ client.SeriesPassport }} {{
                                        client.NumberPassport
                                }}
                                </p>
                                <small>Количество документов: {{ client.CountDocument }}</small>
                            </a>
                        </div>
                    </transition>

                </div>

                <transition name="slide-fade">
                    
                    <div  class="people__info  col-sm-12 col-lg-8  p-3">
                        <h4 v-if="clientId=='' && clients.length>0">Выберите клиента</h4>
                        <div class="row">
                            <div v-if="documentsLoading == true" class="spinner-border mt-5" role="status">
                                <span class="visually-hidden">Загрузка</span>
                            </div>
                        </div>
                        <!-- List with Clients documents -->
                        <div v-if="documents.length > 0 && documentsLoading==false" class="accordion shadow border rounded-3" id="accordionFlush">
                                <div class="accordion-item" v-for="document in documents" :key="document.Id"
                                    v-on:click="orderId = document.OrderId;">
                                    <h2 class="accordion-header" :id="'flush-headingOne' + document.Id"
                                        v-on:click="linqDocuments = ''">
                                        <button class="accordion-button collapsed"
                                            v-bind:class="{ unactive: !document.Uploaded }" type="button"
                                            data-bs-toggle="collapse"
                                            :data-bs-target="'#flush-collapseOne' + document.Id" aria-expanded="false"
                                            :aria-controls="'flush-collapseOne' + document.Id"
                                            v-bind="{ disabled: !document.Uploaded }">
                                            {{ document.Title }}
                                        </button>
                                    </h2>
                                    <div :id="'flush-collapseOne' + document.Id" class="accordion-collapse collapse"
                                        :aria-labelledby="'flush-headingOne' + document.Id"
                                        data-bs-parent="#accordionFlush">
                                        <div class="accordion-body list-group">
                                            <div class="list-group-item" v-for="file in document.Files" v-on:click="changeFileName=file.Name">
                                                <div class="  d-flex justify-content-between align-items-center">
                                                    <a :href="'http://192.168.71.142/Document/FileDownload/?Id=' + file.Id + '&preview=true'"
                                                        class="cut-text" :title="file.Name" target="_blank"> {{
                                                                file.Name
                                                        }}
                                                    </a>

                                                    <div class="d-flex flex-row align-items-center">
                                                        <div>
                                                            <p class="createdFile m-0">{{ file.CreationDate }}</p>
                                                        </div>
                                                        <div class="opacity-0 file__buttons d-flex flex-nowrap">
                                                            <button title="Заменить файл в документе"
                                                                v-on:click="Id = file.Id; $refs.changeFile.value = null; "
                                                                data-bs-toggle="modal" data-bs-target="#changeModal"
                                                                class="btn btn-info text-white"><i
                                                                    class="bi bi-arrow-left-right"></i>
                                                            </button>
                                                            <a title="Скачать файл" class="btn btn-primary"
                                                                :href="'http://192.168.71.142/Document/FileDownload/' + file.Id">
                                                                    <i class="bi bi-download"></i>
                                                            </a>

                                                            <button title="Удалить файл в документе"
                                                                v-on:click="deleteFileId = file.Id"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#deleteFileConfirmModal"
                                                                class="btn btn-danger "><i class="bi bi-trash3"></i>
                                                            </button>
                                                            <button title="История изменениий файла"
                                                                v-on:click="fileHistory(file.Id)"
                                                                class="btn  btn-success" data-bs-toggle="modal"
                                                                data-bs-target="#versionModal"><i
                                                                    class="bi bi-card-checklist"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btns-group pb-2">
                                            <button title="Загрузиить файл в документ" :id="document.Id"
                                                class="btn btn-primary mb-1" v-if="documents.length > 0"
                                                data-bs-toggle="modal" data-bs-target="#loadingModal"
                                                v-on:click="Id = document.Id; $refs.downloadFile.value = null; "><i
                                                    class="bi bi-upload"> Загрузка</i>
                                            </button>
                                            <button title="История изменений документа" :id="document.Id"
                                                class="btn btn-success mb-1"
                                                v-if="documents.length > 0 && document.VersionsInDoc == true"
                                                data-bs-toggle="modal" data-bs-target="#documentVersionModal"
                                                v-on:click="documentHistory(document.Id)"><i
                                                    class="bi bi-card-checklist">
                                                    Версии</i>

                                            </button>
                                            <button title="Удалить документ" v-on:click="deleteDocumentId = document.Id"
                                                data-bs-toggle="modal" data-bs-target="#deleteDocumentConfirmModal"
                                                class="btn btn-danger mb-1"><i class="bi bi-trash3">
                                                    Удалить</i></button>
                                            <button title="Другие документы" v-if="document.CountLinqDocument > 0" v-on:click="getLinqDocuments()"
                                                data-bs-toggle="collapse" data-bs-target="#collapseOtherDocuments"
                                                aria-expanded="false" aria-controls="collapseOtherDocuments"
                                                class="btn btn-warning mb-1"><i class="bi bi-files"> Другие
                                                    документы</i></button>
                                        </div>
                                        <!-- Other document Collapse -->
                                        <div class="collapse p-1" id="collapseOtherDocuments"
                                            v-if="linqDocuments.length > 0">
                                            <div class="card card-body p-1">
                                                <div v-if="linqDocuments.length == 0" class="spinner-border"
                                                    role="status">
                                                    <span class="visually-hidden">Загрузка</span>
                                                </div>
                                                <div class="accordion accordion-flush" id="accordionFlushOtherDocuments"
                                                    v-if="linqDocuments.length > 0">
                                                    <div class="accordion-item" v-for="otherDocument in linqDocuments">
                                                        <h2 class="accordion-header" id="flush-headingOne">
                                                            <button class="accordion-button collapsed" type="button"
                                                                data-bs-toggle="collapse"
                                                                :data-bs-target="'#flush-collapseOne' + otherDocument.Id"
                                                                aria-expanded="false"
                                                                :aria-controls="'flush-collapseOne' + otherDocument.Id">
                                                                {{ otherDocument.Title }}
                                                            </button>
                                                        </h2>
                                                        <div :id="'flush-collapseOne' + otherDocument.Id"
                                                            class="accordion-collapse collapse"
                                                            aria-labelledby="flush-headingOne"
                                                            data-bs-parent="#accordionFlushOtherDocuments">
                                                            <div class="accordion-body list-group">
                                                                <div class="list-group-item"
                                                                    v-for="otherDocumentFile in otherDocument.Files">
                                                                    <div class="">
                                                                        <a
                                                                            :href="'http://192.168.71.142/Document/FileDownload/?Id=' + otherDocumentFile.Id + '&preview=true'">
                                                                            {{ otherDocumentFile.Name }}
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </transition>
            </div>
        </div>
        <!-- uploading Modal -->
        <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loadingModalLabel">Загрузить файл</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Выберите файл для загрузки в документ</p>
                        <input class="form-control mb-3" type="file" v-on:change="downloadFile" ref="downloadFile">

                    </div>
                    <div class="modal-footer">
                        <button data-bs-dismiss="modal" class="btn btn-primary" 
                            v-on:click="submitFile()" v-bind:class="{disabled:  fileUpload==false}">Загрузить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete document confirm Modal -->
        <div class="modal fade" id="deleteDocumentConfirmModal" tabindex="-1"
            aria-labelledby="deleteDocumentConfirmModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteDocumentConfirmModalLabel">Удаление документа</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-around">
                        <p class="text-center">Вы действительно хотите удалить документ?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" v-on:click="deleteDocument(deleteDocumentId)"
                            data-bs-dismiss="modal">Да</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- delete file confirm Modal -->
        <div class="modal fade" id="deleteFileConfirmModal" tabindex="-1" aria-labelledby="deleteFileConfirmModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteFileConfirmModalLabel">Удаление файла</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex justify-content-around">
                        <h4 class="text-center">Вы действительно хотите удалить файл?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn-danger btn col-3" v-on:click="deleteFile(deleteFileId)"
                            data-bs-dismiss="modal">Да</button>
                        <button type="button" class="btn btn-primary col-3" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- File Version Modal -->
        <div class="modal fade" id="versionModal" tabindex="-1" aria-labelledby="versionModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="versionModalLabel">История изменений</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                  <div class="modal-body">
                    <h5 class="text-center" v-if="this.fileHistoryArray.length == 0"> Изменений нет</h5>
                    <div v-for="history in fileHistoryArray">
                        <a :href="'http://192.168.71.142/Document/FileDownloadFromHistory/?id=' + history.Id + '&preview=true'"
                            target="_blank">{{
                                    history.Name
                            }}</a>
                        <div>Изменен: {{ history.CreationDate }}</div>
                        <div>Кем: {{ history.UserName }}</div>
                        <div>Комментарий: {{ history.Comment }}</div>

                    </div>
                  </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Document Version Modal -->
        <div class="modal fade" id="documentVersionModal" tabindex="-1" aria-labelledby="documentVersionModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="documentVersionModalLabel">История изменений документа</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
               <div class="modal-body">
                <h5 class="text-center" v-if="this.documentHistoryArray.length == 0"> Изменений нет</h5>
                <div v-for="docHistory in documentHistoryArray">
                    <a :href="'http://192.168.71.142/Document/FileDownloadFromHistory/?Id=' + docHistory.Id + '&preview=true'"
                        target="_blank">{{
                                docHistory.Name
                        }}</a>
                    <div>Изменен: {{ docHistory.Created }}</div>
                    <div>Кем: {{ docHistory.UserName }}</div>
                    <div>Комментарий: {{ docHistory.Comment }}</div>

                </div>
               </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Change File Modal -->
        <div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeModalLabel">Заменить файл</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Заменить документ "{{changeFileName}}" выбраным файлом?</p>
                        <form v-on:submit.prevent="changeFile" enctype="multipart/form-data" method="post">
                            <input class="form-control mb-3" type="file" v-on:change="changeUploadFile"
                                ref="changeFile">
                                <label for="commentTextArea">Комментарий</label>
                                <textarea  v-model="changeValue" class="form-control mb-3" id="commentTextArea" rows="3"></textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button 
                            data-bs-dismiss="modal" class="btn btn-primary" v-bind:class="{disabled: fileUpload==false || changeValue.length<5}"
                            v-on:click="changeFile(); changeValue=''">Загрузить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app2 = new Vue({
        el: '#archive',
        data() {
            return {
                clientName: 'Гаврик',
                clients: [],
                documents: [],
                loading: false,
                Id: '',
                deleteDocumentId: '',
                changeValue: '',
                fileHistoryArray: [],
                documentHistoryArray: [],
                linqDocuments: [],
                linqDocumentsFiles: [],
                orderId: '',
                deleteFileId: '',
                clientId: '',
                match: false,
                documentsLoading: false,
                changeFileName:'',
                downloadFiles:'',
                changedFiles:'',
                fileUpload: false,
            }
        },
        methods: {
            /* Получить дополнительные документы */
            getLinqDocuments($event) {
              
                axios.post('http://192.168.71.142/Document/LinqDocuments/?orderId=' + this.orderId).then((res) => {
                    this.linqDocuments = res.data.data.LinqDocuments
                })
            },
            /* История документа */
            documentHistory(Id) {
                axios.post('http://192.168.71.142/Document/CheckArchHistory/' + Id).then((response) => {
    
                    if (response.data.success == false) {
                        alert(response.data.data.message)
                    }
                    else {
                        this.documentHistoryArray = response.data.data.HistoryDoc;
                    }
                })
            },
            /* Удаление документа */
            deleteDocument(Id) {
                axios.post('http://192.168.71.142/Document/DeleteDocument/' + Id).then((response) => {
    
                    if (response.data.success == false) {
                        alert(response.data.data.message)
                    }
                    else {
                        this.getDocuments(this.clientId)
                    }
                })
            },
            /* История файла */
            fileHistory(Id) {
                axios.post('http://192.168.71.142/Document/CheckArchHistoryFile/' + Id).then((response) => {
    
                    if (response.data.success == false) {
                        alert(response.data.message)
                    }
                    else this.fileHistoryArray = response.data.data.HistoryFile
                })
            },
            /* Данные инпута на загрузке файла */
            downloadFile() {
                this.fileUpload=true
                this.downloadFiles = this.$refs.downloadFile.files[0];
            },
            /*  */
            changeUploadFile() {
                this.fileUpload=true
                this.changedFiles = this.$refs.changeFile.files[0];
            },
            deleteFile(Id) {
                axios.post('http://192.168.71.142/Document/DeleteFile/' + Id).then((response) => {
                    if (response.data.success == false) {
                        alert(response.data.data.message)
                    }
                    else this.getDocuments(this.clientId)
                })
            },
            submitFile() {
                const formData = new FormData();
                formData.append('File', this.downloadFiles);
                axios.post('http://192.168.71.142/Document/UploadFile?documentId=' + this.Id, formData).then((response) => {
    
                    if (response.data.success == false) {
                        alert(response.data.data.message)
                        this.getDocuments(this.clientId)
                    }
                    else{
                        this.fileUpload=false
                        alert(response.data.data.message)
                        this.getDocuments(this.clientId)

                    }
                  
                })
            },
            changeFile() {
                const formData = new FormData();
                formData.append('newFile', this.changedFiles);
                formData.append('comment', this.changeValue)
                axios.post('http://192.168.71.142/Document/ReplaceFile/' + this.Id, formData).then((response) => {
                    if (response.data.success == false) {
                        alert(response.data.data.message)
                        this.getDocuments(this.clientId)
                    }
                    else {
                        this.fileUpload=false
                        alert(response.data.data.message)
                        this.changeValue = ''
                        this.getDocuments(this.clientId)
                    }
                })
            },
            async getClients() {
                var thiz = this;
                if(this.documentsLoading==false){
                    this.documentsLoading=true
                    axios.post('http://192.168.71.142/Document/ClientSearch?clientSearch=' + this.clientName)
                    .then(function (response) {
                        if (response.data.success == false) {
                            alert(response.data.data.message)
                            thiz.loading = false
                            thiz.clients=[]
                        }
                        else {
                            thiz.clients = response.data.data.clients
                            thiz.loading = false
                        }
                    })
                    .then(data=>{
                        thiz.documentsLoading=false
                    })
                 
                }
                
            },
            async getDocuments(Id) {
                var thiz = this;
                if(this.documentsLoading==false){
                    this.documentsLoading=true
                    axios.post('http://192.168.71.142/Document/DocumentsClient/' + Id)
                    .then(function (response) {
                        if (response.data.success == false) {
                            alert(response.data.data.message)
                        }
                        else {
                            thiz.documents = response.data.data.Documents
                            thiz.loading = false
                        }
                    })
                    .then(data=>{
                        thiz.documentsLoading=false
                    })
                }
            
            },
        }
    })
    </script>
    <style>
        .list-group-item {
            cursor: pointer;
        }
        .file__buttons .btn{
            margin-left: 2px;
        }
        .btns-group {
            padding-left: 10px;
        }

      
        .accordion-body {
            padding: 10px !important
        }

        .slide-fade-enter-active {
            transition: all .3s ease;
        }

        .slide-fade-leave-active {
            transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
        }

        .slide-fade-enter,
        .slide-fade-leave-to {
            transform: translateX(10px);
            opacity: 0;
        }

        * {
            font-family: 'Cuprum', sans-serif !important;
        }

        .spinner-border {
            margin: auto;
        }

            .cut-text {
                text-overflow: ellipsis;
                overflow: hidden;
                min-height: 30px;
                width: 540px;
                white-space: nowrap;
            }

        .cut-text {
            min-height: 30px;
        }

        .accordion-button.unactive {
            color: rgb(216, 216, 216);
        }

        .m-shadow {
            box-shadow: 3px 3px 3px rgb(241, 237, 237) !important;
        }
        .archive__search-input{
            box-shadow: 0 4px 0px 0px rgb(241, 237, 237) !important;
        }

        .createdFile {
            position: relative;
            left: 95px;
        }

        .list-group-item:hover .file__buttons {
            opacity: 1 !important;
            transition: opacity 1s ease;
        }
        .list-group-item:hover .createdFile{
            z-index: -1;
        }

        .list-group-item:hover .createdFile {
            transition: all 1s ease;
            opacity: 0;
        }

        .active {
            transition: all 0.5s ease;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"
        integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src=https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous">
    </script>
