
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <div class="container">
        <div class="verification__page pt-5 pb-5" id="upload">
            <div class="row">
                <h1 v-if="newDocument.length == 0" class="text-center">Нет документов на подгрузку</h1>
                <transition name="slide-fade">
                    <div class="col-sm-12 col-lg-4 upload-client-list " v-if="newDocument.length !== 0">
                        <input type="text" class="form-control mb-3 " placeholder="Поиск"
                            aria-describedby="button-addon2" v-model="uploadSearchValue">
                        <!-- //$refs.downloadFile.value = null// -->
                      <div class="list-group upload-client-list">
                        <div v-bind:class="{ active: uploadClientId == client.DocumentId }"
                        v-on:click=" clientFIO=client.FIO; clientTitle = client.Title; commentsCorrection = client.CommentsCorrection; uploadNewDocumentClientFiles = client.Files; docCorId = client.DocCorId; workType = client.Reworking; requiredDocuments = client.RequiredDocuments; uploadClientId = client.DocumentId; clientDocType = client.DocTypeInt; uploadFileClientUp = false;"
                        class="list-group-item list-group-item-action" v-for="client in filteredUploadClientList">
                        <div>
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ client.FIO }}</h5>
                                <small><span class="badge bg-primary"
                                        v-bind:class="{ 'bg-danger': client.DocTypeInt == 2 }">
                                        {{ client.DocType }} </span></small>
                            </div>
                            <small>{{ client.Title }}</small>
                            <br />
                            <small v-if="client.Reworking == true" class="text-danger">На доработку</small>
                        </div>
                    </div>
                      </div>
                    </div>
                </transition>


                <div class="col-sm-12 col-lg-8">
                    <h1 v-if="uploadClientId == 0 && newDocument.length !== 0" class="text-center">Выберите клиента
                    </h1>

                    <div class="col-12">
                        <transition name="slide-fade">
                            <form v-if="requiredDocuments.length !== 0 && workType == false" method="post"
                                enctype="multipart/form-data" class="form-border"
                                :action="'http://192.168.71.142/Document/UploadFileInLoading?documentId=' + uploadClientId">
                                <h3 class="upload-client-title">{{ clientTitle }}</h3>
                                <small>{{clientFIO}}</small>
                                <div class="list-group">
                                    <div  v-for="uploadDoc in requiredDocuments"
                                        class="list-group-item d-flex justify-content-between align-items-center flex-row flex-wrap">
                                        <span>
                                            {{ uploadDoc.Name }}
                                        </span>
                                        <div>
                                            <input type="file" :name="'file' + uploadDoc.Id" v-on:change="downloadFile"
                                                class="form-control" />
                                        </div>
                                    </div>

                                </div>
                                <button v-bind="{ disabled: !uploadFileClientUp }" type="submit"
                                    class="btn btn-primary mt-2">Отправить</button>
                            </form>
                        </transition>
                        <transition name="slide-fade">
                            <div class="onWork form-border" v-if="workType == true && requiredDocuments.length !== 0">
                                <div class="row">
                                    <h3 class="upload-client-title">{{ clientTitle}}</h3>
                                <small>{{clientFIO}}</small>
                                </div>
                                <div class="list-group">
                                    <div  v-for="onWorkDoc in uploadNewDocumentClientFiles"
                                        class="list-group-item d-flex justify-content-between align-items-center flex-row flex-wrap">
                                        <a class="col-7" :href="'http://192.168.71.142/Document/FileDownload/' + onWorkDoc.Id + '?preview=true'"
                                            target="_blank"> {{ onWorkDoc.Name }}
                                        </a>
                                        <p v-if="onWorkDoc.FlagForReplacement == true" class="changeFileFlag badge bg-success m-0 ">
                                            Заменен
                                        </p>
                                        <div class="buttons-group opacity-0">
                                            <button v-on:click="onWorkFileId = onWorkDoc.Id; onWorkFile = onWorkDoc"
                                                title="Заменить файл в документе" data-bs-toggle="modal"
                                                data-bs-target="#changeUploadFileModal" class="btn btn-info text-white">
                                                <i class="bi bi-arrow-left-right"></i>
                                            </button>
                                            <a :href="'http://192.168.71.142/Document/FileDownload/' + onWorkDoc.Id">
                                                <button class="btn btn-success">
                                                    <i class="bi bi-download"></i>
                                                </button>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-12 mt-3" v-if="commentsCorrection.length > 0">
                                    <h5 class="text-center">Комментарии</h5>
                                    <div class="comments-wrapper  border p-2 d-flex flex-column justify-content-start">
                                        <div class="comment-card col-10 card text-dark bg-light mb-3"
                                            v-for="comment in commentsCorrection"
                                            :class="{ 'align-self-end': comment.Role == 0, 'bg-archi': comment.Role == 0 }">
                                            <div class=" d-flex flex-nowrap justify-content-between align-items-center">
                                                <small class="m-0">{{ comment.Name }}</small>
                                                <small class="card-title m-0">{{ comment.DateComment }}</small>

                                            </div>
                                            <div class="p-1">
                                                <p class="card-text">{{ comment.Comment }}</p>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                                <button class="btn btn-primary mt-2" data-bs-toggle="modal"
                                    data-bs-target="#OnWorkDocumentCommentModal">Отправить</button>
                            </div>
                        </transition>

                    </div>

                </div>
            </div>
            <!-- on work document modal -->
            <div class="modal fade" id="OnWorkDocumentCommentModal" tabindex="-1"
                aria-labelledby="#OnWorkDocumentCommentModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="#OnWorkDocumentCommentModal">Отправить на проверку</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Вы уверены что хотите отправить на проверку?</h5>
                            <input class="form-control" type="text" placeholder="Введите ваш комментарий"
                                v-model="submitInputValue">
                        </div>
                        <div class="modal-footer">
                            <button data-bs-dismiss="modal" class="btn btn-primary col-3"
                                v-on:click="submitOnWorkDocumentComment(); commentsCorrection = []; requiredDocuments = []; submitInputValue = ''">Отправить</button>
                            <button type="button" class="btn btn-secondary col-3"
                                data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Change Upload File Modal -->
            <div class="modal fade" id="changeUploadFileModal" tabindex="-1"
                aria-labelledby="changeUploadFileModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="changeUploadModalLabel">Заменить документ</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form v-on:submit.prevent="changeFile(Id)" enctype="multipart/form-data" method="post">
                                <input class="form-control mb-3" type="file" v-on:change="changeUploadInputFile"
                                    ref="changeFile">
                                <input type="text" class="form-control mb-3" v-model="changeInputValue">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button v-bind:class="{ disabled: !fileUpload }" data-bs-dismiss="modal"
                                class="btn btn-primary"
                                v-on:click="fileUpload = false; changeUploadDocumentFile(); onWorkFile.FlagForReplacement = true">Загрузить</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>
        .slide-fade-enter-active {
            transition: all .2s ease;
        }
        .slide-fade-enter,
        .slide-fade-leave-to

        /* .slide-fade-leave-active below version 2.1.8 */
            {
            transform: translateX(10px);
            opacity: 0;
        }

        .badge {
            min-width: 53px;
            font-weight: 400;
            font-size: 13px !important;
        }

        * {
            font-family: 'Cuprum', sans-serif !important;
        }

        .comment-card {
            border-radius: 15px;
            color: rgb(0, 0, 0);
            background-color: rgb(248, 245, 245);
            padding: 6px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .comments-wrapper{
            border: 1px solid rgb(231, 231, 231);
            border-radius: 10px;
        }
        .form-border {
            padding: 15px;
            border: 1px solid rgb(221, 220, 220);
            border-radius: 10px;
        }

        .bg-archi {
            background-color: rgb(244, 248, 248);
        }

        .upload-client-list>.list-group-item {
            cursor: pointer;
        }

        .list-group-item:hover .buttons-group {
            transition: opacity 0.5s ease;
            opacity: 1 !important;
        }

        .changeFileFlag {
            width: 100px;
        }
    </style>




    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.min.js"
        integrity="sha512-xIPqqrfvUAc/Cspuj7Bq0UtHNo/5qkdyngx6Vwt+tmbvTLDszzXM0G6c91LXmGrRx8KEPulT+AfOOez+TeVylg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src=https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous">
    </script>
    <script>
    var app4 = new Vue({
        el: '#upload',
    
        data() {
            return {
                show: false,
                newDocument: [],
                fileUpload: false,
                uploadClientId: '',
                uploadClientDocuments: [],
                clientDocType: '',
                uploadFileClientUp: false,
                onWorkFileId: '',
                changeInputValue: '',
                submitInputValue: '',
                refsValue: '',
                clientFIO: '',
                uploadSearchValue: '',
                requiredDocuments: [],
                docCorId: '',
                workType: '',
                uploadNewDocumentClientFiles: [],
                commentsCorrection: '',
                onWorkFile: {},
                clientTitle: {},
            }
        },
        computed: {
            filteredUploadClientList() {
                if (this.uploadSearchValue) {
                    return this.newDocument.filter(item => {
                        return item.FIO.includes(this.uploadSearchValue);
                    });
                }
                return this.newDocument
            }
        },
        methods: {
    
            submitOnWorkDocumentComment() {
                axios.post('http://192.168.71.142/Document/SendForReview/', {
                    docCorId: this.docCorId,
                    comment: this.submitInputValue,
    
                }).then((res) => {
                    this.getNewDocument();
                })
    
    
            },
            changeUploadInputFile() {
                console.log('File Uploaded');
                this.fileUpload = true;
                this.changedFiles = this.$refs.changeFile.files[0];
            },
            changeUploadDocumentFile() {
                const formData = new FormData();
                formData.append('newFile', this.changedFiles);
                formData.append('comment', this.changeInputValue)
                const headers = { 'Content-Type': 'multipart/form-data' };
                axios.post('http://192.168.71.142/Document/ReplaceFile/' + this.onWorkFileId, formData, { headers }).then((response) => {
                    if (response.data.success == false) {
                        alert(response.data.message)
                    }
                    else {
                        alert('Файл заменен')
                        response.data.files;
                        response.status;
                        this.$refs.changeFile.value = null
                        this.changeInputValue = null
                        this.fileUpload = false;
    
                    }
                })
            },
            downloadFile() {
                console.log('file upload');
                this.uploadFileClientUp = true;
            },
            getNewDocument() {
                axios.post('http://192.168.71.142/Document/NewDocument').then((res) => {
                    console.log(res.data.data.NewDocument);
                    this.newDocument = res.data.data.NewDocument;
    
                })
            },
            async getClientDocument(Id) {
                axios.post('http://192.168.71.142/Document/DocumentsClient/' + Id).then((response) => {
                    console.log(response.data.data.Documents);
                    this.uploadClientDocuments = response.data.data.Documents
    
                })
            },
    
        },
        mounted() {
            this.getNewDocument()
        }
    })
    </script>
