/* ADMIN RIGHTS */
/* ADMIN GROUPS.HTML */
/* ADMIN USERS */

.admin-submit-button {
    margin-top: 10px;
}

.card-wrapper {
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    padding: 15px;
}

/* ARCHIVE SEARCH */
.list-group-item {
    cursor: pointer;
}

.file__buttons .btn {
    margin-left: 2px;
}

.btns-group {
    padding-left: 10px;
}


.accordion-body {
    padding: 10px !important
}

.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

* {
    font-family: 'Cuprum', sans-serif !important;
}

.spinner-border {
    margin: auto;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 30px;
    width: 540px;
    white-space: nowrap;
}

.cut-text {
    min-height: 30px;
}

.accordion-button.unactive {
    color: rgb(216, 216, 216);
}

.m-shadow {
    box-shadow: 3px 3px 3px rgb(241, 237, 237) !important;
}

.archive__search-input {
    box-shadow: 0 4px 0px 0px rgb(241, 237, 237) !important;
}

.createdFile {
    position: relative;
    left: 95px;
}

.list-group-item:hover .file__buttons {
    opacity: 1 !important;
    transition: opacity 0.5s ease;
}

.list-group-item:hover .createdFile {
    z-index: -1;
}

.list-group-item:hover .createdFile {
    transition: all 0.5s ease;
    opacity: 0;
}

.active {
    transition: all 0.5s ease;
}

/* AUTORIZATION  */



.autorization__form {
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
}

.autorization__page {
    padding: 200px 20px 0px 20px;
}

.logo-wrapper {
    width: 114px;
    align-self: center;
    margin-bottom: 20px;
}



/* Loading */


.badge {
    min-width: 53px;
    font-weight: 400;
    font-size: 13px !important;
}

* {
    font-family: 'Cuprum', sans-serif !important;
}

.comment-card {
    border-radius: 15px;
    color: rgb(0, 0, 0);
    background-color: rgb(248, 245, 245);
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comments-wrapper {
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px;
}

.form-border {
    padding: 15px;
    border: 1px solid rgb(221, 220, 220);
    border-radius: 10px;
}

.bg-archi {
    background-color: rgb(244, 248, 248);
}

.upload-client-list>.list-group-item {
    cursor: pointer;
}

.list-group-item:hover .buttons-group {
    transition: opacity 0.5s ease;
    opacity: 1 !important;
}

.changeFileFlag {
    width: 100px;
}


/* DOCUMENT VERIFICATION  */

.badge-success {
    width: 100px;
}

.slide-fade-enter-active {
    transition: all .2s ease;
}

.slide-fade-leave-active {
    transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to

/* .slide-fade-leave-active below version 2.1.8 */
    {
    transform: translateX(10px);
    opacity: 0;
}

.comments-wrapper {
    border: 1px solid rgb(231, 231, 231);
    border-radius: 10px;
}

.list-group-file {
    padding-left: 10px;
    list-style: none;
}

.badge {
    min-width: 53px;
    font-weight: 400;
    font-size: 13px !important;
}

.listDocCheckedFalseClient-list>.list-group .list-group-item {
    cursor: pointer;
}

.listDocCheckedFalseFile-list {
    padding: 10px;
    border: 1px solid rgb(221, 220, 220);
    border-radius: 10px
}

.cursor-pointer {
    cursor: pointer;
}

.comment-card {
    border-radius: 15px;
    color: rgb(0, 0, 0);
    background-color: rgb(248, 245, 245);
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-group-item:hover .btn {
    transition: opacity 0.5s ease;
    opacity: 1 !important;
}